services:
  django:
    image: flyluk/llamaindex-clean:latest
    restart: unless-stopped
    ports:
      - "8000:8000"
    volumes:
      - .:/app
      - ./chroma_db:/app/chroma_db
    environment:
      - PYTHONPATH=/app
    working_dir: /app/django_app
    command: python manage.py runserver 0.0.0.0:8000
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]